/* General Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent body scrolling */
}

.chat-session {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    background-color: #cddded;
}

/* Header */
.chat-header {
    height: 4rem; /* Fixed height for the top bar */
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #2782e4;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.profile-picture {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.chat-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.chat-last-seen {
    font-size: 0.875rem;
    color: #ffffff;
}

/* Messages */
.chat-messages {
    height: calc(100vh - 13rem); /* Adjust height dynamically */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 1rem;
}

.chat-message {
    display: flex;
    margin-bottom: 1rem;
}

.chat-message.mine {
    justify-content: flex-end;
}

.chat-message.theirs {
    justify-content: flex-start;
}

.message-bubble {
    max-width: 60%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-bubble.mine {
    background-color: #407cfc;
    color: white;
}

.message-bubble.theirs {
    background-color: #ffffff;
    color: #374151;
}

.sender-name {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.message-content {
    font-size: 0.875rem;
}

.message-time.mine {
    font-size: 0.75rem;
    color: #ededed; 
    margin-top: 0.5rem;
    text-align: right;
}

.message-time.theirs {
    font-size: 0.75rem;
    color: #7a7a7a;
    margin-top: 0.5rem;
    text-align: right;
}

/* Input Area */
.chat-input {
    height: 5rem; /* Fixed height for the input area */
    padding: 1.2rem;
    background-color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    bottom: 0;
    z-index: 10;
}

.input-container {
    display: flex;
    align-items: center;
}

.message-input {
    flex: 1;
    border: 1px solid #d1d5db;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0 0.5rem;
}

.send-button {
    background-color: #2563eb;
    border: none;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}